h2{
    color:#1e90ff;
}
.introduce{
    background-color:rgb(202, 248, 232);
    margin: 0 auto;
    width: 600px;
}
.explain{
    color:darkgray
}
.introcduce:hower{
    background-color: #e6f7ff;
}
body{
    text-align: center;
}