body{
    text-align: center;
}
.base{
   
}
.a1{
    color:red;

}
h4{
    color:aqua;
}
h2{
    color:cyan;
}
.a2{
    color:gray;
}
.a3{
    color:darkgrey;
}
.a4{
    color:rgb(73, 72, 72);
}
.a{
    color:rgb(128, 232, 232);
    background-color:rgb(201, 200, 200);
     margin: 0 auto;
    width: 800px;
}